<!doctype html>
<html style="min-height:auto" >
    <head>
        <title>Study Buddy</title>
        <link rel="stylesheet" href="popup.css" />
        <script src="popup.js"></script>
    </head>
    
    <body>     
            <div class="welcome"> Welcome to the Study Buddy extension</div>

            <div class="blurb"> Select below whether you would like to select the topic you
            are currently studying, schedule a meeting with other students studying the same topic, or check to see
            if anyone is currently studying! 
            </div>
                <a href="topicSelector.html" class="buttons">Select Topics</a>
                
                <a href="schedule.html" class="buttons">Schedule a Meeting</a>
            
            
  
    </body>
</html>
