<!doctype html>
<html style="min-height:auto" >
    <head>
        <title>Study Buddy</title>
        <link rel="stylesheet" href="popup.css" />
        <script src="popup.js"></script>
    </head>
    
    <body>     
            <div class="welcome"> Welcome to Study Buddy extension,  </div>
            <a href=topicSelector.html><input type=button value="Select Topics"></a>
            <a href=schedule.html><input type=button value="Schedule a Meeting"></a>
            
            
            
  
    </body>
</html>
