<!doctype html>
<html style="min-height:auto" >
    <head>
        <title>Study Buddy</title>
        <link rel="stylesheet" href="popup.css" />
        <script src="topicpopup.js"></script>
    </head>
  <body>  
    <div class="welcome"> select topics and see who's studying </div>
            <div class="blurb"> Choose the topics you are interested in studying, and see who else is interested in these topics! 
    </div>

    <a href="popup.html" class="buttons">Back</a>
   <nav>
        <ul> 
            <li class="dropdown"><a href="">Arrays</a>
                <ul class="dropdown-content">
                    <li>
                        <a href="">Arrays</a>
                    </li>
                    <li>
                        <a href="">goes</a>
                    </li>
                    <li>
                        <a href="">arrrrrrrrrrrrrr</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown"><a href="">Linked Lists</a>
                <ul class="dropdown-content">
                    <li>
                        <a href="">linked lists</a>
                    </li>
                    <li>
                        <a href="">goes</a>
                    </li>
                    <li>
                        <a href="">LLLLLLLLLLLLL</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown"><a href="">Hash Tables</a>
                <ul class="dropdown-content">
                    <li>
                        <a href="">Hash tables</a>
                    </li>
                    <li>
                        <a href="">goes</a>
                    </li>
                    <li>
                        <a href="">shaaaaaaaaaaaaa</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown"><a href="">Queue</a>
                <ul class="dropdown-content">
                    <li>
                        <a href="">Queue</a>
                    </li>
                    <li>
                        <a href="">goes</a>
                    </li>
                    <li>
                        <a href="">queueueueueeueueue</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    
    
</body>
</html>