<!doctype html>
<html style="min-height:auto" >
    <head>
        <title>Study Buddy</title>
        <link rel="stylesheet" href="popup.css" />
        <script src="topicpopup.js"></script>
    </head>
  <body>  
    <div class="welcome"> select topics and see who's studying </div>
            <div class="blurb"> Choose the topics you are interested in studying, and see who else is interested in these topics! 
    </div>

   <nav>
        <ul>
            <li class="dropdown"><a href="">Menu item 1</a>
                <ul class="dropdown-content">
                    <li class="dropdown"><a href="">Menu item 11</a>
                        <ul class="dropdown-content">
                            <li class="dropdown"><a href="">Menu item 111</a>
                                <ul class="dropdown-content">
                                    <li class="dropdown"><a href="">Menu item 1111</a>
                                        <ul class="dropdown-content">
                                            <li class="dropdown"><a href="">Menu item 11111</a>
                                            </li>
                                            <li>
                                                <a href="">Menu item 11112</a>
                                            </li>
                                            <li>
                                                <a href="">Menu item 11113</a>
                                            </li>
                                            <li>
                                                <a href="">Menu item 11114</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="">Menu item 1112</a>
                        <ul class="dropdown-content">
                        <li class="dropdown"><a href="">Menu item 11121</a>
                        </li>
                        <li>
                            <a href="">Menu item 11122</a>
                        </li>
                        <li>
                            <a href="">Menu item 11123</a>
                        </li>
                        <li>
                            <a href="">Menu item 11124</a>
                        </li>
                        </ul>                
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Menu item 112</a>
                            </li>
                            <li>
                                <a href="">Menu item 113</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Menu item 12</a>
                    </li>
                    <li>
                        <a href="">Menu item 13</a>
                    </li>
                    <li>
                        <a href="">Menu item 14</a>
                    </li>
                </ul>
            </li>
        <li><a href="">Menu item 2</a></li>
        <li class="dropdown"><a href="">Menu item 3</a>
        <ul class="dropdown-content">
            <li class="dropdown"><a href="">Menu item 31</a>
                <ul class="dropdown-content">
                    <li class="dropdown"><a href="">Menu item 311</a>
                        <ul class="dropdown-content">
                            <li class="dropdown"><a href="">Menu item 3111</a>
                                <ul class="dropdown-content">
                                    <li><a href="">Menu item 31111</a></li>
                                    <li><a href="">Menu item 31112</a></li>
                                    <li><a href="">Menu item 31113</a></li>
                                    <li><a href="">Menu item 31114</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="">Menu item 312</a></li>
                    <li><a href="">Menu item 313</a></li>
                    <li><a href="">Menu item 314</a></li>
                </ul>
            </li>
            <li><a href="">Menu item 32</a></li>
            <li><a href="">Menu item 33</a></li>
            <li><a href="">Menu item 34</a></li>
        </ul>
        </li>
        <li><a href="">Menu item 4</a></li>
        </ul>
    </nav>
    
    <a href="popup.html" class="buttons">Back</a>
</body>
</html>