<!doctype html>
<html style="min-height:auto" >
    <head>
        <title>Study Buddy</title>
        <link rel="stylesheet" href="popup.css" />
        <script src="popup.js"></script>
    </head>
    
    <body>     
            <div class="welcome"> select topics and see who's studying </div>
            <div class="blurb"> Choose the topics you are interested in studying  
            </div>

            <div class="select">
                <select>
                    <option>--Select--</option>
                    <option>Airbender</option>
                    <option>Codebender</option>
                    <option>Korra</option>
                    <option>Hudini's Secret Quran Reading</option>
                </select>
                <div class="select_arrow"></div>
            </div>
            
            <a href="popup.html" class="buttons">Back</a>
    </body>
</html>