<!doctype html>
<html style="min-height:auto" >
    <head>
        <title>Study Buddy</title>
        <link rel="stylesheet" href="popup.css" />
        <script src="popup.js"></script>
    </head>
    
    <body> 
            <div class="welcome"> schedule a meeting  </div>
            <div class="blurb"> Thank you for scheduling a meeting! If someone is interested in the same topic they will 
            contact you to joing your meeting. Below are other scheduled meetings (with the topics for each meeting listed).
            If you would like to join a meeting or see users that are currently online studying a similar topic, check the time period for 
            meetings that are currently happening in progress.

            </div>


        <table class="meetingTable">
        <thead>
        <tr>
        <th>Meetings Previously Scheduled</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>Topic: Linked List <br /> Time and Date: 03/28/2021, 03:00pm- 04:00pm <br /> Location: Virtual (zoom) <br /> Users registered: User1, User4</td>
        </tr>
        <tr>
        <td>Topic: Queue <br /> Time and Date: 04/12/2021, 11:00am- 12:00pm <br /> Location: Livi Library <br /> Users registered: User2 </td>
        </tr>
        <tr>
        <td>Topic: Arrays <br /> Time and Date: 04/05/2021, 05:00pm- 06:00pm <br /> Location: Busch Student Center <br /> Users registered: User1, User3, User5</td>
        </tr>
        <tr>
        <td>Topic: Hashtables <br /> Time and Date: 04/20/2021, 09:00am- 10:0apm <br /> Location: Virtual (zoom) <br /> Users registered: User7, User3</td>
        </tr>
        </tbody>
        </tr>
        </table>


            <a href="topicSelector.html" class="buttons">Submit</a>
            <a href="popup.html" class="buttons">Back</a>
    </body>
</html>













